<div class="AdminDashboardPage">
    <div class="DashboardPage-header">
        <p class="DashboardPage-title">Admin Dashboard</p>
        <div class="DashboardPage-links">
            <%= link_to  image_submit_tag("add.jpg", class: "Schedule-img-task", alt: "Add New Doctor") , new_user_path , title: "Add New Doctor" %>
            <%= link_to  image_submit_tag("users.png", class: "Schedule-img-task", alt: "Manage User") , "/users/manage", title: "Manage User" %>
        </div>
    </div>
    <hr/>
    <section class="DashboardPage-schedules-selection">
        <% @active_user = session[:active_user] %>
        <% @active_user = (@active_user == nil || @active_user.empty?) ? "both" : @active_user %>
        <%= form_with(url: "/users/show", method: "get") do %>
            Show <%= radio_button_tag :active_user, "true", @active_user == "true" ? true : false, onclick: "this.form.submit()" %> Only Active Users
            <%= radio_button_tag :active_user, "false", @active_user == "false" ? true : false, onclick: "this.form.submit()" %> Only Inactive Users
            <%= radio_button_tag :active_user, "both", @active_user == "both" ? true : false, onclick: "this.form.submit()" %> All Users
        <% end %>
    </section>
    <section class="DashboardPage-schedules">
        <div class="DashboardPage-schedule-list">
            <div class="Schedule-block">
                <%= pie_chart @users.group(:user_role).count, title: "No of Users" %>
            </div>
            <div class="Schedule-block">
                <%= column_chart @users.joins("INNER JOIN schedules ON schedules.patient_id = users.id INNER JOIN taskdetails ON taskdetails.schedule_id = schedules.id").group(:first_name).group_by_day(:task_date, format: "%d-%m").count, title: "Patient's Scheduled Tasks Moniter", dataset: { borderWidth: 1 }, empty: "No data", loading: "Loading...", zeros: true, precision: 2, xtitle: "Date", ytitle: "Frequency/User/Day", label: "Value", stacked: false %>
            </div>
        </div>
    </section>
</div>