<section class="UsersNew">
    <div class="DashboardPage-header">
        <% if @current_user %>
            <p class="DashboardPage-title">Add new Doctor user!</p>
            <div class="DashboardPage-links">
                <%= link_to  image_tag("users.png", class: "Schedule-img-task", alt: "Manage User") , "/users/manage", title: "Manage Users" %>
                <%= link_to  image_tag("dashboard.png", class: "Schedule-img-header", alt: "Dashboard") , users_path , title: "Dashboard" %>
            </div>
        <% else %>
            <p class="DashboardPage-title">Welcome new user!</p>
        <% end %>
    </div>    
    <%= form_with url: users_path do |form| %>
        <div class="Form-section">
            <p class: "FormInput-label">First Name: </p>
            <%= form.text_field :first_name, class: "Form-input" %>
        </div>
        <div class="Form-section">
            <p class: "FormInput-label">Last Name: </p>
            <%= form.text_field :last_name, class: "Form-input" %>
        </div>
        <div class="Form-section">    
            <p class: "FormInput-label">E-mail: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <%= form.email_field :email, class: "Form-input" %>
        </div>
        <div class="Form-section">    
            <p class: "FormInput-label">Password: &nbsp;&nbsp;</p>
            <%= form.password_field :password, class: "Form-input" %>
        </div>
        <div class="Form-section">    
            <%= form.submit "Sign Up", class: "Form-submit" %>
        </div>
    <% end %>
</section>