<div class="DashboardPage">
    <div class="DashboardPage-header">
        <p class="DashboardPage-title">Doctor Dashboard</p>
        <div class="DashboardPage-links">
            <%= link_to image_tag("add.jpg", class: "Schedule-img-task", alt: "History"), new_schedule_path %>
            <%= link_to image_tag("summary.png", class: "Schedule-img-task", alt: "Summary"), "/schedules/summary", title: "Summary Report" %>
        </div>
    </div>
    <hr/>
    <section class="DashboardPage-schedules-selection">
        <% @active_schedule = session[:active_schedule] %>
        <% @active_schedule = (@active_schedule == nil || @active_schedule.empty?) ? "true" : @active_schedule %>
        <%= form_with(url: "/schedules/show", method: "get") do %>
            Show <%= radio_button_tag :active_schedule, "true", @active_schedule == "true" ? true : false, onclick: "this.form.submit()" %> Only Active schedules
            <%= radio_button_tag :active_schedule, "false", @active_schedule == "false" ? true : false, onclick: "this.form.submit()" %> Only Inactive schedules
            <%= radio_button_tag :active_schedule, "both", @active_schedule == "both" ? true : false, onclick: "this.form.submit()" %> All Schedules
        <% end %>
    </section>
    <section class="DashboardPage-schedules">
        <div class="DashboardPage-schedule-list">
            <% @schedules.each do |schedule| %>
                <div class="Schedules-li">
                    <div class="Schedule-block">
                        <div class="Schedule-block-firstline">
                        <%= form_with(url: "/schedules/#{schedule.id}", method: "put") do %>
                            <%= check_box_tag :active_schedule, nil, schedule.active_schedule, class: "Schedule-checkbox", onclick: "this.form.submit()" %>
                            Current schedule active or not?
                        <% end %>
                        </div>
                        <div class='Schedule-Text'>
                            <p>Patient Name: </p>
                            <p class="Schedule-Text-value"><%= schedule.patient_name %></p>
                        </div>
                        <div class='Schedule-Text'>
                            <p>Schedule slots: </p>
                            <p class="Schedule-Text-value">
                                <% if @field == "schedule_slot" && @schedule_id == schedule.id && @button == "edit" %>
                                    <%= form_with(url: "/schedules/#{schedule.id}/edit", method: "get") do %>
                                        <%= check_box_tag "schedule_slot[]", "Morning", checked = schedule.schedule_slot.include?("Morning") %> Morning
                                        <%= check_box_tag "schedule_slot[]", "Evening", checked = schedule.schedule_slot.include?("Evening") %> Evening
                                        <%= hidden_field_tag("field", "schedule_slot") %>
                                        <%= hidden_field_tag("button", "save") %>
                                        <%= image_submit_tag("save.jpg", class: "Schedule-img-save") %>
                                    <% end %>
                                <% else %>
                                    <%= schedule.schedule_slot.delete('"[]') %> 
                                    <a href="javascript:void(0)" title="Edit">
                                        <%= form_with(url: "/schedules/#{schedule.id}/edit", method: "get") do %>
                                            <%= hidden_field_tag("field", "schedule_slot") %>
                                            <%= hidden_field_tag("button", "edit") %>
                                            <%= image_submit_tag("edit4.ico", class: "Schedule-img") %>
                                        <% end %>
                                    </a>
                                <% end %>
                            </p>
                        </div>
                        <div class='Schedule-Text'>
                            <p class="Schedule-title" >Brushing Duration: </p>
                            <p class="Schedule-Text-value">
                            <% if @field == "duration" && @schedule_id == schedule.id && @button == "edit" %>
                                <%= form_with(url: "/schedules/#{schedule.id}/edit", method: "get") do %>
                                    <%= number_field_tag "duration", schedule.duration, in: 1..300, class: "Schedule-duration" %>
                                    seconds
                                    <%= hidden_field_tag("field", "duration") %>
                                    <%= hidden_field_tag("button", "save") %>
                                    <%= image_submit_tag("save.jpg", class: "Schedule-img-save") %>
                                <% end %>
                            <% else %>
                                <%= schedule.duration %> seconds
                                <a href="javascript:void(0)" title="Edit">
                                    <%= form_with(url: "/schedules/#{schedule.id}/edit", method: "get") do %>
                                        <%= hidden_field_tag("field", "duration") %>
                                        <%= hidden_field_tag("button", "edit") %>
                                        <%= image_submit_tag("edit4.ico", class: "Schedule-img") %>
                                    <% end %>
                                </a>
                            <% end %>
                            </p>
                        </div>
                        <div class="Schedule-Text">
                            <p class="Schedule-title">Starting Date: </p>
                            <p class="Schedule-Text-value">
                            <% if @field == "assign_date" && @schedule_id == schedule.id && @button == "edit" %>
                                <%= form_with(url: "/schedules/#{schedule.id}/edit", method: "get") do %>
                                    <%= date_field_tag :assign_date, schedule.assign_date, class: "NewSchedulePage-startdate" %>
                                    <%= hidden_field_tag("button", "save") %>
                                    <%= hidden_field_tag("field", "assign_date") %>
                                    <%= image_submit_tag("save.jpg", class: "Schedule-img-save") %>
                                <% end %>
                            <% else %>
                                <%= schedule.assign_date.to_s(:short) %>
                                <a href="javascript:void(0)" title="Edit">
                                <%= form_with(url: "/schedules/#{schedule.id}/edit", method: "get") do %>
                                    <%= hidden_field_tag("field", "assign_date") %>
                                    <%= hidden_field_tag("button", "edit") %>
                                    <%= image_submit_tag("edit4.ico", class: "Schedule-img") %>
                                <% end %>
                                </a>
                            <% end %>
                            </p>
                        </div>
                        <div class="Schedule-Text">
                            <p  class="Schedule-title">Completion Date: </p>
                            <p class="Schedule-Text-value">
                            <% if @field == "complete_date" && @schedule_id == schedule.id && @button == "edit" %>
                                <%= form_with(url: "/schedules/#{schedule.id}/edit", method: "get") do %>
                                    <%= date_field_tag :complete_date, schedule.complete_date, class: "NewSchedulePage-startdate" %>
                                    <%= hidden_field_tag("button", "save") %>
                                    <%= hidden_field_tag("field", "complete_date") %>
                                    <%= image_submit_tag("save.jpg", class: "Schedule-img-save") %>
                                <% end %>
                            <% else %>
                                <%= schedule.complete_date.to_s(:short) %>
                                <a href="javascript:void(0)" title="Edit">
                                <%= form_with(url: "/schedules/#{schedule.id}/edit", method: "get") do %>
                                    <%= hidden_field_tag("field", "complete_date") %>
                                    <%= hidden_field_tag("button", "edit") %>
                                    <%= image_submit_tag("edit4.ico", class: "Schedule-img") %>
                                <% end %>
                                </a>
                            <% end %>
                            </p>
                        </div>
                        <div class="Schedule-Text">
                            <% performance, no_of_completed_task, no_of_expected_task = schedule.patient_performance() %>
                            <p  class="Schedule-title">Performace: </p>
                            <p class="Schedule-Text-value"><%= no_of_completed_task.to_s %> / <%= no_of_expected_task.to_s %> </p>
                        </div>
                        <div class="Schedule-button">
                            <div class="Schedule-block-bar">
                                <div class="Schedule-block-bar-color" style="min-width:<%= performance * 93.6 %>%;background-color: rgb(<%= (255 * (1 - performance)).to_i %>, <%= (255 * (performance)).to_i %>, 0);">
                                <%= (performance * 100).round(2) %> %
                                </div>
                            </div>
                            <%= link_to image_tag("history.png", class: "Schedule-img-task", alt: "History"), "/taskdetails/#{schedule.id}", title: "History" %>
                            <%= link_to image_tag("delete.svg", class: "Schedule-img-delete", alt: "Delete"), "/schedules/#{schedule.id}", title: "Delete", method: :delete, data: { confirm: "Are you sure you want to delete this user?" }  %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </section>
</div>